# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
LinuxDev/PThreadTests
LinuxDev/main
LinuxDev/WSLTestNormal
Algorithms/Queue/QueueTest
Algorithms/Stack/StackTest
